In [1]:
#Importando o pandas
import pandas as pd

In [26]:
#Abrindo o arquivo csv
df = pd.read_csv("tabela.csv", encoding="UTF-8")
df1 = pd.read_csv("tabela2.csv", encoding="UTF-8")
df2 = pd.read_csv("tabela3.csv", encoding="UTF-8")

In [27]:
df_concat = pd.concat([df,df1,df2])

In [28]:
print(df_concat)

          Nome  Idade Sexo
0      Heuller     21    M
1         Alan     22    M
0       Kelvin     21    M
1     Thalyson     22    M
0          Leo     21    M
1  Luiz Carlos     50    M
2      Juninho     51    M